/* Colors
------------------------------------------ */
/* Colors
------------------------------------------ */
$gold: #D18916;
$light-gold: #E6A53D;
$dark-gold: #D4B000;
.gold { color: $gold; }
.light-gold { color: $light-gold; }
.dark-gold { color: $dark-gold; }

$red: #BD240F;
$light_red: #E96031;
.red { color: $red; }
.light-red { color: $light_red; }

$creme: #F6F6F3;
.creme { color: $creme; }

$white: #FFFFFF;
.white { color: $white; }

$black: #222830;
.black { color: $black; }
$brown :#3C3319;
.brown { color: $brown; }

$ultralight_gray: #f5f5f5;
$light_gray: #DDDDDD;
$gray: #5A5F6A;
$dark_gray: #2B303B;
.ultralight-gray { color: $ultralight_gray; }
.light-gray { color: $light_gray; }
.gray { color: $gray; }
.dark-gray { color: $dark_gray; }

$red: #C5050C;
.red { color: $red; }

/*-- old --*/

$blue: #06AED5;
$dark_blue: #086788;
$fd_blue: #2E31E0;
.fd_blue { color: $fd_blue; }
.blue { color: $blue; }
.dark-blue { color: $dark_blue; }

$gc_blue: #21272E;
.gc_blue { color: $gc_blue; }

$yellow: #F0C808;
.yellow { color: $yellow; }
$dark-yellow: #D4B000;
.dark-yellow { color: $dark-yellow; }
