/* Footer
------------------------------------------ */
.footer-black {
  background-color: #222830;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.footer-black-row img {
  width: 170px;
  margin-bottom: 30px;
}

.footer-black-row a {
  color: white;
  margin: 30px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-white {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.footer-white img {
  max-width: 200px;
  max-height: 80px;
  margin: 50px 0;
}

