.uwheader {
  width: 100%;
  padding: 10px;
  display:block;
  background: $red;
  text-align: center;
  img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: inline-block;
  }
}

#engageModal {
  .modal-content{
    margin-top: 20vh;
    border:0px;
    border-radius:0px;
    .close span {
      margin-right: -20px;
      margin-top: -20px;
    }
    padding: 3vw 5vw;
    text-align: center;
    h2, p {
      margin-bottom: 3vw;
    }
    .engageLink {
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}

.mainwrapper {
  background: $black url(../img/grain.png) repeat;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 150;
  overflow: hidden;
  .intro {
    padding: 4vw 25vw;
  }
}

#whatare {
  p {
    font-size: 1em;
  }
}

.welcome {
  width: 100%;
  height: 50vw;
  position: relative;
  background: $black;
  margin-bottom:10vw;
  .welcome-header {
    margin: 10px;
  }
  .welcome-blurb {
    font-size: 14px;
  }
  .welcome-content {
    @include vertical-align;
  }
  .col {
    width: 33.33%;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    &.one {
      background:url("../img/background1.jpg");
      background-size: cover;
    }
    &.two {
      background: $white;
      padding: 2vw 5vw 0vw 5vw;
    }
    &.three {
      background:url("../img/background2.jpg");
      background-size: cover;
    }
  }
}

.chevron {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0, 50% 15%);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0, 50% 15%);
}

.scroll {
  width: 50px;
  height: 50px;
  text-decoration:none;
  background:url("../img/icon-scroll.png") no-repeat;
  background-size: 50px 50px;
  display:inline-block;
}

.fancy-city {
  width: 50px;
  margin: 10px;
}

.lets-ask {
  margin: 4px;
}

.big-questions {
  margin: 0;
}

.what-if {
  padding: 80px 30px;
  background-color: white;
  h2 {
    font-size: 2.5em;
  }
  p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 1.3em;
  }
}

.team-grid {
  padding: 70px 0;
  background-color: white;
  text-align: center;
  h2 {
    font-size: 2em;
    margin: 2px;
    line-height: 1.5em;
  }
  p {
    padding: 0;
    font-size: 0.8em;
    margin: 2px;
  }
  .team-entry {
    vertical-align: top;
    display: inline-block;
    margin: 20px;
    width: 320px;
    .team-image {
      height: 120px;
      width: 120px;
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }
  }
}

.answers-outer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw;
    background:url("../img/background6.jpg") no-repeat;
    background-size: cover;

    .answers-header {
        h2, h3 {
            text-align: center;
            font-family: Aqua Grotesque;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: white;
        }
    }

    .answers {
        font-size: 13px;
        max-width: 500px;
        color: white;
        .answer {
            transition-duration: 0.25s;
            h3 {
                padding: 5px 10px;
                border: 1px solid white;
                border-radius: 3px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                font-family: 'raleway', sans-serif;
                color: #fff;
            }
            p, ol {
                overflow-y: hidden;
                height: 0;
                margin: 0;
            }
            .answer-arrow {
                display: inline-block;
                transform: rotate(45deg) translateY(-6px);
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                height: 12px;
                width: 12px;
                margin-right: 5px;
            }
            &.answer-open {
                h3 {
                    background-color: white;
                    color: black;
                }
                p, ol {
                    height: auto;
                }
                .answer-arrow {
                    transform: rotate(45deg) translateY(3px);
                    border-bottom: none;
                    border-right: none;
                    border-top: 2px solid black;
                    border-left: 2px solid black;
                }
            }
        }
    }
}
.cta-embelishment {
  width:90%;
  height: auto;
  margin: 0 auto;
  margin-top: 5vw;
  display: block;
}
.maincta {
  text-align: center;
  background: $white;
  padding: 8vw;
  .button {
    margin-bottom: 10px;
  }
}
.footer {
  padding: 8vw;
  text-align: center;
  .partnerlogos {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      margin: 20px;
      display:block;
      img {
        height: 40px;
        width: auto;
        &.partnerlogo-big {
          height: 55px;
        }
      }
    }
  }
  .footerlogo {
    width: 200px;
    height: auto;
  }
  .contact-us {
    color: white;
    margin-top: 50px;
    a {
      color: $gold;
    }
  }
  .footernav {
    list-style: none;
    li, a{
      color: $white;
    }
  }
}

.seed-content {
  background-color: $white;
  color: $black;
  padding: 25px;
  text-align: center;
  p {
    margin: 20px;
  }
  img {
    max-width: 80vw;
    margin: 20px;
  }
  h2 {
    font-family: Halis R Bold;
  }
}
