@media only screen and (max-width: 1200px) {
  .chevron {
    height: auto;
    clip-path: none;
    -webkit-clip-path: none;
    .col.one, .col.three {
      display: none;
    }
    .col.two {
      width: 100%;
    }
    .welcome-content {
      top: 0;
      transform: none;
      -webkit-transform: none;
      margin-bottom: 40px;
    }
  }
  .what-if {
    .glide__wrapper {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .process-nav {
    display: none;
  }
  #connect, #engage, #transform {
    height: auto;
    .thumb-wrap {
      display: none;
    }
    .process-slide {
      width: 95%;
      float: right;
      .glide-contain {
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    height: auto;
    .hero-bg {
      height: auto;
      padding-bottom: 100px;
      .mainlogo {
        top: 200px;
        width: 400px;
        max-width: 90vw;
      }
      .hero-frame {
        display: none;
      }
      .scroll {
        display: none;
      }
    }
  }
  .chevron-embelishment {
    display: none;
  }
  .mainnav {
    height: auto;
    padding-bottom: 15px;
    .navitems {
      margin-left: 0;
      margin-top: 50px;
    }
  }
  .subnav {
    display: none !important;
  }
}

@media only screen and (max-width: 638px) {
  .get-involved {
    position: relative !important;
    margin-top: 10px !important;
  }
  .what-if {
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 14px !important;
    }
  }
}
