@media only screen and (max-width: 1200px) {
  .chevron {
    height: auto;
    clip-path: none;
    -webkit-clip-path: none;
    .col.one, .col.three {
      display: none;
    }
    .col.two {
      width: 100%;
    }
    .welcome-content {
      top: 0;
      transform: none;
      -webkit-transform: none;
      margin-bottom: 40px;
    }
  }
  .what-if {
    .glide__wrapper {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .process-nav {
    display: none;
  }
  #connect {
    height: auto;
    .thumb-wrap {
      display: none;
    }
    .process-slide {
      width: 95%;
      float: right;
      .glide-contain {
        width: auto;
      }
    }
    .glide__wrapper {
      width: auto !important;
    }
  }
  #engage {
    height: auto;
    .thumb-wrap {
      display: none;
    }
    .process-slide {
      float: right;
      .glide-contain {
        width: auto;
      }
    }
    .glide__wrapper {
      width: auto !important;
    }
  }
  #transform {
    height: auto;
    .thumb-wrap {
      display: none;
    }
    .process-slide {
      float: right;
      .glide-contain {
        width: auto;
      }
    }
    .glide__wrapper {
      width: auto !important;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    height: 75vw;
    .hero-bg {
      height: 75vw;
      .mainlogo {
        width: 400px;
        margin-top:-40px;
      }
      .hero-frame {
        display: none;
      }
      .scroll {
        display: none;
      }
    }
  }
  #engage {
    .process-slide {
      width: 95%;
    }
  }
  #transform {
    .process-slide {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    height: 90vw;
    .hero-bg {
      height: 90vw;
    }
  }
  .partnerlogos {
    height: auto !important;
    padding-top: 25px;
  }
  .mainwrapper {
    .intro {
      padding: 15px;
    }
  }
  .footer-black-row a {
    display: block;
  }
  .footer-white {
    flex-direction: column;
  }
}

@media only screen and (max-width: 638px) {
  .what-if {
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 14px !important;
    }
  }
  #connect, #engage, #transform {
    p.singleitem {
      width: 70vw;
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }
  .contact-us {
    font-size: 0.8em;
  }
}

@media only screen and (max-width:500px) {
  .mainlogo {
    width: 350px !important;
  }
  .hero { height: 130vw;
    .hero-bg {
      height: 130vw;
    }
  }
}
