.ticket-stubs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .ticket-stub {
    flex: 1;
    margin: 10px;
    background: white;
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.1);
    h3 {
      font-family: Halis R Bold;
      text-transform: uppercase;
      font-size: 20px;
    }
    hr {
      height: 0;
      width: 90%;
      background: none;
      display: block;
    }
    p {
      font-size: 13px;
    }
  }
  .ticket-stub-art {
    h3 {
      color: rgb(62,182,210);
    }
    hr {
      border-top: 5px dotted rgb(62,182,210);
    }
  }
  .ticket-stub-health {
    h3 {
      color: rgb(208,98,0);
    }
    hr {
      border-top: 5px dotted rgb(208,98,0);
    }
  }
  .ticket-stub-education {
    h3 {
      color: rgb(120,187,51);
    }
    hr {
      border-top: 5px dotted rgb(120,187,51);
    }
  }
}

@media only screen and (max-width: 800px) {
  .ticket-stubs {
    flex-direction: column;
  }
  .ticket-stub {
    flex: 0;
  }
}
